#header-words {
    text-align: center;
}

#header-words .title {
    display: none;
}

#header-words .subtitle {
    display: none;
}

#header-icon {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

#header {
    /* width: auto; */
    margin: 0 auto;
}

section {
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

@media only screen and (min-width: 769px) {
    #header-words .title {
        display: block;
        font-size: 58px;
        /* border-bottom: 3px solid #61e2ff; */
        margin-top: 0px;
    } 
    
    #header-words .subtitle {
        display: block;
    }    

    #header-words {
        text-align: left;
        margin-left: 30px;
    }

    #header-icon {
        width: 75%;
        height: 75%;
    }
}