#about-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#about-words {
    padding-right: 30px;
}

#about-photo {
    width: 350px;
    height: 365px;
    object-fit: cover;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.subtitle {
    color: #42d6ff;
    /* color: #1decfd; */
}

#about-etc {
    text-align: right;
}

.skills img {
    height: 30px;
    object-fit: cover;
    margin: 5px;
}