.project-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 0.25rem; */
    place-items: center;
    justify-content: center;
} 

.project {
    width: 70vw;
    height: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    /* border-radius: 20px; */
}

.project-title {
    position: absolute;
    top: 15px;
    font-weight: bold;
    display: none;
    color: white;
}

.project-desc {
    color: white;
    position: absolute;
    bottom: 15px;
    text-align: center;
    display: none;
    font-size: 18px;
    width: 90%;
}

.project-wrapper img {
    width: 25%;
    height: 25%;

}

.project:hover img {
    /* -webkit-transform: translate3D(10px, 0, 0);    
    transform: translate3D(10px, 0, 0); */
    width: 30%;
    height: 30%;
}

.project:hover .project-title, .project:hover .project-desc {
    display: block;
}

.project-section .subtitle {
    display: none;
}

.project-section .title {
    display: none;
}

#project6 {
    background-color: #FFED83;
}

#project1 {
    background-color:orchid;
}

#project2 {
    background-color: skyblue;
}

#project3 {
    background-color: rgb(253, 106, 106);
}

#project4 {
    background-color: lightgreen;
}

#project5 {
    background-color: pink;
}

.project:hover {
    opacity: .85;
    background-color: white;
    cursor: pointer;  
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.project:focus, .project:active {
    border: 3px solid lightgray;
}

@media only screen and (min-width: 769px) {

    .project-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.25rem;
    } 

    .project {
        width: 25vw;
        height: 25vw;
    }

    .project-section .subtitle {
        display: block;
    }
    
    .project-words .title {
        display: block;
    }
}