/* .project-gif {
    display: block;
} */

.modal .project-gif{
    margin-top: 10px;
    text-align: center;
}

.tag {
    margin-right: 5px;
    background-color:#42d6ff !important;
    color: white !important;
}